<% unless @feed_items.empty? %>
  <h1 class="more_topspaced less_bottomspaced">Links you've created</h1>
  <table class="links_table center" summary="User links">
    <tr>
      <th class="text_left">
        Name
      </th>
      <th>
        Created
      </th>
      <th>
        Link
      </th>
      <th>
        Embed
      </th>
      <th>
      </th>
    </tr>
    <% for feed_item in @feed_items %>
    <tr>
      <td class="link text_left">
        <span class="content"><a href="<%= url_for feed_item.token %>"><%= feed_item.url %></a></span>
      </td>
      <td>
        <span class="timestamp">
          <%= time_ago_in_words(feed_item.created_at) %> ago
        </span>
      </td>
      <td>
        <a class="token" href="<%= url_for feed_item.token %>"><%= request.host_with_port %>/<%= feed_item.token %></a>
      </td>
      <td>
        <input value="<a href='http://<%= request.host_with_port %>/<%= feed_item.token %>'>Bibzy</a>" type="text"/>
      </td>
      <% if current_user?(feed_item.owner) %>
      <td>
        <%= link_to "delete", feed_item, :method => :delete,
        :confirm => "You sure?",
        :title => feed_item.url %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
