<h1 class="link_url bottomspaced"><%= @link.url %></h1>
<% if @is_owner %>
<table class="link_info_table less_bottomspaced leftspaced">
  <tr>
    <th>
      Link
    </th>
    <td>
      <a class="token" href="<%= url_for @link.token %>"><%= request.host_with_port %>/<%= @link.token %></a>
    </td>
  </tr>
  <tr>
    <th>
      Embed
    </th>
    <td>
      <input value="<a href='http://<%= request.host_with_port %>/<%= @link.token %>'>Talksift</a>" type="text" size='50'/>
    </td>
  </tr>
</table>
<div class="leftspaced bottomspaced">
  <strong>Share</strong> this <strong>link</strong> with others and invite them to come <strong>talk</strong> with you.
</div>

<div>
  <%= render :partial => 'shared/link_user_setting_form' %>
</div>
<div>
  <% @conversations.each do |c| %>
  <div class="conversation_block more_bottomspaced box_shadow">
    <% visitor_lus = LinkUserSetting.find_by_link_id_and_user_id(@link, c.visitor)  %>
  <h2 class="bottomspaced">Conversation with <%= visitor_lus.name %></h2>
  <div class="user_info_block">
    <h2 class="user_info_header less_bottomspaced">Info <%= visitor_lus.name %> has shared with you</h2>
    <%= render :partial => 'shared/show_user_info', :locals => {:fb_user_node => visitor_lus.fb_user_node} %>
    <%= render :partial => 'shared/mutual_friends', :locals => {:conversation => c, :other_user_name => visitor_lus.name }%>
  </div>
  <%= render :partial => 'shared/messages', :locals => {:conversation => c}%>
  </div>
  <% end %>
</div>

<% else %>
<div>
  <%= render :partial => 'shared/link_user_setting_form' %>
</div>
<div class="conversation_block box_shadow">
  <% owner_lus = LinkUserSetting.find_by_link_id_and_user_id(@link, @link.owner)  %>
  <h2 class="bottomspaced">Conversation with <%= owner_lus.name %></h2>
  <div class="user_info_block">
    <h2 class="user_info_header less_bottomspaced">Info <%= owner_lus.name %> has shared with you</h2>
  <%= render :partial => 'shared/show_user_info', :locals => {:fb_user_node => owner_lus.fb_user_node} %>
  <%= render :partial => 'shared/mutual_friends', :locals => {:conversation => nil, :other_user_name => owner_lus.name }%>
  </div>
  <% if not @conversation.nil? %>
  <%= render :partial => 'shared/messages', :locals => {:conversation => @conversation}%>
  <% else %>
  <%= render :partial => 'shared/message_form', :locals => {:conversation => nil} %>
  <% end %>
</div>

<% end %>
